<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.runcoach</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>mkdir -p __PROJECT_DIR__/data &amp;&amp; cd __PROJECT_DIR__ &amp;&amp; __UV_PATH__ run python -m src.bot</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>__CLAUDE_DIR__:__UV_DIR__:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>__PROJECT_DIR__</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__PROJECT_DIR__/data/runcoach.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>__PROJECT_DIR__/data/runcoach.stderr.log</string>
</dict>
</plist>
